/* Fixes notices to encompass all content */
div.notices.info {
    background: #FFF2DB;
}
div.notices.warning {
    background: #FAE2E2;
}
div.notices.note {
    background: #E7F2FA;
    border-color: #61B0DE;
}
div.notices.note div.label {
    background: #61B0DE;
}
div.notices.tip {
    background: #E6F9E6;
}

code {
    background: #F2F2F2;
}
